In [119]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv('PPR-ALL.csv', encoding='latin-1')

In [8]:
df.head()

,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (횤),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
0,1/1/10,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
1,3/1/10,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,4/1/10,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN
3,4/1/10,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
4,4/1/10,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN

In [9]:
df.tail()

,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (횤),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
342502,14/12/2018,"MOUNTAIN CHASE, KILMIHILL, KILMALLOCK",NaN,Limerick,120000.0,Yes,No,Second-Hand Dwelling house /Apartment,NaN
342503,14/12/2018,"NO. 63 WOODSTREAM, COOLANEY, SLIGO",NaN,Sligo,91000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
342504,14/12/2018,"SCAR, DUNCORMICK, WEXFORD",NaN,Wexford,360000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
342505,14/12/2018,"THE DIAMOND, CLONES, MONAGHAN",NaN,Monaghan,45100.0,No,No,Second-Hand Dwelling house /Apartment,NaN
342506,14/12/2018,"TORC, BALLYKEA, SKERRIES",NaN,Dublin,585000.0,No,No,Second-Hand Dwelling house /Apartment,NaN

In [11]:
counties = df['County'].value_counts()

In [13]:
counties

Dublin       112072
Cork          37298
Galway        17625
Kildare       16289
Meath         12927
Limerick      12788
Wexford       11543
Wicklow       10367
Kerry         10062
Donegal        9459
Tipperary      8970
Waterford      8951
Louth          8931
Mayo           8151
Clare          7965
Westmeath      6558
Cavan          5441
Kilkenny       5378
Laois          5158
Sligo          5050
Roscommon      4899
Offaly         4060
Carlow         3694
Leitrim        3179
Longford       2973
Monaghan       2719
Name: County, dtype: int64

In [17]:
import requests

In [37]:
response=requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E')

In [38]:
print(response)

<Response [200]>

In [39]:
response.json()

{'results': [{'address_components': [{'long_name': '1600',
     'short_name': '1600',
     'types': ['street_number']},
    {'long_name': 'Amphitheatre Parkway',
     'short_name': 'Amphitheatre Pkwy',
     'types': ['route']},
    {'long_name': 'Mountain View',
     'short_name': 'Mountain View',
     'types': ['locality', 'political']},
    {'long_name': 'Santa Clara County',
     'short_name': 'Santa Clara County',
     'types': ['administrative_area_level_2', 'political']},
    {'long_name': 'California',
     'short_name': 'CA',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'United States',
     'short_name': 'US',
     'types': ['country', 'political']},
    {'long_name': '94043', 'short_name': '94043', 'types': ['postal_code']}],
   'formatted_address': '1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA',
   'geometry': {'location': {'lat': 37.4230414, 'lng': -122.0840448},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 37.42439038029149,
      'lng': -122.0826958197085},
     'southwest': {'lat': 37.42169241970849, 'lng': -122.0853937802915}}},
   'place_id': 'ChIJhehRjJ-5j4ARKFssUSrwnhY',
   'plus_code': {'compound_code': 'CWF7+7J Mountain View, California, United States',
    'global_code': '849VCWF7+7J'},
   'types': ['street_address']}],
 'status': 'OK'}

In [40]:
response.json()['results'][0]['geometry']['location']

{'lat': 37.4230414, 'lng': -122.0840448}

In [41]:
df.head()

,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (횤),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description
0,1/1/10,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
1,3/1/10,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...
2,4/1/10,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN
3,4/1/10,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN
4,4/1/10,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN

In [42]:
df['Address'][0].split()

['5', 'Braemor', 'Drive,', 'Churchtown,', 'Co.Dublin']

In [ ]:
url='https://maps.googleapis.com/maps/api/geocode/json?address=1600+Amphitheatre+Parkway,+Mountain+View,+CA&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E'

In [43]:
url='https://maps.googleapis.com/maps/api/geocode/json?address='
api_key='&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E'

In [44]:
df['Address'][0].split()

['5', 'Braemor', 'Drive,', 'Churchtown,', 'Co.Dublin']

In [56]:
a=[x + '+' for x in df['Address'][0].split()[:-1]]

In [57]:
a.append(df['Address'][0].split()[-1])

In [58]:
a

['5+', 'Braemor+', 'Drive,+', 'Churchtown,+', 'Co.Dublin']

In [66]:
address="".join(a)

In [67]:
full_path=url+address+api_key

In [68]:
print(full_path)

https://maps.googleapis.com/maps/api/geocode/json?address=5+Braemor+Drive,+Churchtown,+Co.Dublin&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E

In [69]:
requests.get(full_path).json()

{'results': [{'address_components': [{'long_name': '5',
     'short_name': '5',
     'types': ['street_number']},
    {'long_name': 'Braemor Drive',
     'short_name': 'Braemor Dr',
     'types': ['route']},
    {'long_name': 'Newtown Little',
     'short_name': 'Newtown Little',
     'types': ['neighborhood', 'political']},
    {'long_name': 'Dublin 14',
     'short_name': 'Dublin 14',
     'types': ['postal_town']},
    {'long_name': 'County Dublin',
     'short_name': 'County Dublin',
     'types': ['administrative_area_level_1', 'political']},
    {'long_name': 'Ireland',
     'short_name': 'IE',
     'types': ['country', 'political']},
    {'long_name': 'D14 NX40',
     'short_name': 'D14 NX40',
     'types': ['postal_code']}],
   'formatted_address': '5 Braemor Dr, Newtown Little, Dublin 14, D14 NX40, Ireland',
   'geometry': {'location': {'lat': 53.302391, 'lng': -6.263783099999999},
    'location_type': 'ROOFTOP',
    'viewport': {'northeast': {'lat': 53.3037399802915,
      'lng': -6.262434119708497},
     'southwest': {'lat': 53.3010420197085, 'lng': -6.265132080291502}}},
   'place_id': 'ChIJ2V8XtvwLZ0gRpl6rLdYnd3Y',
   'plus_code': {'compound_code': '8P2P+XF Dublin, County Dublin, Ireland',
    'global_code': '9C5M8P2P+XF'},
   'types': ['street_address']}],
 'status': 'OK'}

In [91]:
def url_creator(address, url='https://maps.googleapis.com/maps/api/geocode/json?address=', api_key='&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E'):
    add_list = address.split()
    add_list = [line + '+' for line in add_list[:-1]]
    add_list.append(address.split()[-1])
    add_url="".join(add_list)
    return url+add_url+api_key

In [85]:
url_creator(df['Address'][1])

'https://maps.googleapis.com/maps/api/geocode/json?address=134+Ashewood+Walk,+Summerhill+Lane,+Portlaoise&key=AIzaSyDHNguaHa1brL6IKKr2EkDDnym32RfaX8E'

In [87]:
df['api_url']=df['Address'].apply(url_creator)

In [88]:
df.head()

,Date of Sale (dd/mm/yyyy),Address,Postal Code,County,Price (횤),Not Full Market Price,VAT Exclusive,Description of Property,Property Size Description,api_url
0,1/1/10,"5 Braemor Drive, Churchtown, Co.Dublin",NaN,Dublin,343000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,https://maps.googleapis.com/maps/api/geocode/j...
1,3/1/10,"134 Ashewood Walk, Summerhill Lane, Portlaoise",NaN,Laois,185000.0,No,Yes,New Dwelling house /Apartment,greater than or equal to 38 sq metres and less...,https://maps.googleapis.com/maps/api/geocode/j...
2,4/1/10,"1 Meadow Avenue, Dundrum, Dublin 14",NaN,Dublin,438500.0,No,No,Second-Hand Dwelling house /Apartment,NaN,https://maps.googleapis.com/maps/api/geocode/j...
3,4/1/10,"1 The Haven, Mornington",NaN,Meath,400000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,https://maps.googleapis.com/maps/api/geocode/j...
4,4/1/10,"11 Melville Heights, Kilkenny",NaN,Kilkenny,160000.0,No,No,Second-Hand Dwelling house /Apartment,NaN,https://maps.googleapis.com/maps/api/geocode/j...

In [129]:
def lat_lng(api_url):
    try:
        response = requests.get(api_url)
    except requests.exceptions.RequestException as e:
        print(e)
        raise
        
    response.raise_for_status()
    results = response.json()['results']
    if len(results) != 0:
        return results[0]['geometry']['location']['lat'], results[0]['geometry']['location']['lng']
    else:
        return np.nan, np.nan

In [130]:
lat_lng(url_creator(df['Address'][7]))

(52.82499970000001, -6.895761100000001)

In [131]:
df['lat'], df['lng'] = df['api_url'].apply(lat_lng)

KeyboardInterrupt: